{% extends "base.html" %}
{% load static %}

{% block title %}<title>Sometimes lost, it's OK</title>{% endblock %}

{% block mainbody %}
<main class="main-content error-wrap" style="background-image: url({% static 'images/404.jpg' %});">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-6 mx-auto">
                <div class="error-content text-center">
                    <h1>404</h1>
                    <h4 class="h3 my-2 pb-4 px-2">The page you are looking for doesn’t exist</h4>
                    <a href="{% url 'index' %}" class="btn btn-lg btn-dark text-white">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
