{% extends "base.html" %}
{% load static %}

{% block title %}<title>About us</title>{% endblock %}

{% block mainbody %}
<div class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="post-quote alignfull my-5">
                    <div class="single-quote">
                        <div class=" col-lg-8 col-sm-10 test mx-auto text-center ">
                            <h2>Many years later, as he faced the firing squad,
                                Colonel Aureliano Buendía was to remember that distant afternoon
                                when his father took him to discover ice...</h2>
                            <p class="fs-sm">Gabriel García Márquez</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-details py-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8">
                <div class="author d-sm-flex left-line">
                    <div class="author-img">
                        <a href="author.html"><img src="{% static 'images/gavin_about.png' %}" alt=""></a>
                    </div>
                    <div class="author-content ps-5">
                        <div class="auth-inner">
                            <h3>Gavin</h3>
                            <p>It's Gavin here!</p>
                        </div>
                        <span class="d-block mt-5 text-primary text-uppercase">{{ gavin }} posts published</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <aside class="sidebar ps-5">
                    <div class="widget auth-social">
                        <h3>Social</h3>
                        <ul>
                            <li><a href="https://www.instagram.com/gavinddgx/">Instagram</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<div class="about-details py-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8">
                <div class="author d-sm-flex left-line">
                    <div class="author-img">
                        <a href="author.html"><img src="{% static 'images/asinia_about.png' %}" alt=""></a>
                    </div>
                    <div class="author-content ps-5">
                        <div class="auth-inner">
                            <h3>Asinia</h3>
                            <p>It's Asinia here!</p>
                        </div>
                        <span class="d-block mt-5 text-primary text-uppercase">{{ asinia }} posts published</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <aside class="sidebar ps-5">
                    <div class="widget auth-social">
                        <h3>Social</h3>
                        <ul>
                            <li><a href="https://www.instagram.com/asinia_wang/">Instagram</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

<div class="instagram border-top py-10">
    <div class="container-xl">
        <div class="text-center col-8 mx-auto pb-5 wow animated" data-wow-iteration="infinite"
            data-wow-duration="1500ms">
            <img src="{% static 'images/icon.png' %}" alt="icon">
        </div>
        <!-- images -->
        <div class="insta-wrap mt-5 d-flex flex-wrap justify-content-between position-relative">
            <!-- button -->
            <a href="https://www.instagram.com/gavinddgx/" class="btn btn-primary">@Follow on Instagram</a>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-1.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-2.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-3.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-4.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-5.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
