{% extends "base.html" %}
{% load static %}

{% block title %}<title>About us</title>{% endblock %}

{% block mainbody %}
<div class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="post-quote alignfull my-5">
                    <div class="single-quote">
                        <div class=" col-lg-8 col-sm-10 test mx-auto text-center ">
                            <h2>you can't live your life for other people. you've got to do what's right
                                for you, even if it
                                hurts some people you love.</h2>
                            <p class="fs-sm">Rita Mae Brown</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-details py-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8">
                <div class="author d-sm-flex left-line">
                    <div class="author-img">
                        <a href="author.html"><img src="{% static 'images/about.jpg' %}" alt=""></a>
                    </div>
                    <div class="author-content ps-5">
                        <div class="auth-inner">
                            <h3>Lora Palmer</h3>
                            <p>Quisque blandit suscipit tempus. Donec commodo magna erat, a interdum sem facilisis
                                ut. Suspendisse convallis justo risus, id molestie nisl lobortis ac. Nulla a nisl
                                semper, condimentum eros a, malesuada dui. Aenean et sapien diam. Quisque
                                scelerisque, diam vitae posuere tincidunt, leo nibh tincidunt augue.</p>
                        </div>
                        <span class="d-block mt-5 text-primary text-uppercase">15 posts published</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <aside class="sidebar ps-5">
                    <div class="widget auth-social">
                        <h3>Social</h3>
                        <ul>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">facebook</a></li>
                            <li><a href="#">Pinterest</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<section class="newsletter bg-pink mx-4 py-10" style="background-image: url('images/heart-bg.png');">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 text-center mx-auto px-5">
                <h2 class="sec-title">Lets Become More Closer for Each Other</h2>
                <p>A great book should leave you with many experiences, and slightly exhausted at
                    the end. You live several lives while reading</p>

                <form class="form-inline d-sm-flex justify-content-between mt-5">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Email" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="instagram border-top py-10">
    <div class="container-xl">
        <div class="text-center col-8 mx-auto pb-5 wow animated" data-wow-iteration="infinite"
            data-wow-duration="1500ms">
            <img src="{% static 'images/icon.png' %}" alt="icon">
        </div>
        <!-- images -->
        <div class="insta-wrap mt-5 d-flex flex-wrap justify-content-between position-relative">
            <!-- button -->
            <a href="https://www.instagram.com/gavinddgx/" class="btn btn-primary">@Follow on Instagram</a>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-1.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-2.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-3.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-4.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-5.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
