{% extends "base.html" %}
{% load static %}

{% block title %}<title>DGX & WYX</title>{% endblock %}

{% block mainbody %}
<!-- Home Slider -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-theme" id="hero-slider-one">
                    <div class="item">
                        {% if not post1_image %}
                            <div class="item-bg" style="background-image: url({% static 'images/default.jpg' %});"> </div>
                        {% else %}
                            <div class="item-bg" style="background-image: url({% static post1_image %});"> </div>
                        {% endif %}
                        <div class="item-txt">
                            <h1 class="sec-title mb-4"><a href="{% url 'spec_latest_post' 1 %}">{{ post1_title }}</a></h1>
                            <a class="btn-unfill" href="{% url 'spec_latest_post' 1 %}">Take a Look <img
                                    src="{% static 'images/arrow-right.png' %}" alt=""> </a>
                        </div>
                    </div> <!-- Item End -->
                    <div class="item">
                        {% if not post2_image %}
                            <div class="item-bg" style="background-image: url({% static 'images/default.jpg' %});"> </div>
                        {% else %}
                            <div class="item-bg" style="background-image: url({% static post2_image %});"> </div>
                        {% endif %}
                        <div class="item-txt">
                            <h1 class="sec-title mb-4"><a href="{% url 'spec_latest_post' 2 %}">{{ post2_title }}</a></h1>
                            <a class="btn-unfill" href="{% url 'spec_latest_post' 2 %}">Take a Look <img
                                    src="images/arrow-right.png" alt=""> </a>
                        </div>
                    </div> <!-- Item End -->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="instagram border-top py-10">
    <div class="container-xl">
        <div class="text-center col-8 mx-auto pb-5 wow animated" data-wow-iteration="infinite"
            data-wow-duration="1500ms">
            <img src="{% static 'images/icon.png' %}" alt="icon">
        </div>
        <!-- images -->
        <div class="insta-wrap mt-5 d-flex flex-wrap justify-content-between position-relative">
            <!-- button -->
            <a href="https://www.instagram.com/gavinddgx/" class="btn btn-primary">@Follow on Instagram</a>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-1.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-2.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-3.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-4.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
            <div class="insta-item">
                <a href="https://www.instagram.com/gavinddgx/">
                    <img src="{% static 'images/insta-5.jpg' %}" class="img-fluid" alt="instgram">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
