{% extends "base.html" %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block mainbody %}
{% if image %}
    <div class="jarallax promo-parallax" style="background-image: url({% static image %});"></div>
{% else %}
    <div class="jarallax promo-parallax" style="background-image: url({% static 'images/default.jpg' %});">
</div>
{% endif %}
<main class="main-content py-10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <article class="single-post post">
                    <div class="entry-content">
                        <div class="entry-header">
                            <span class="entry-meta"><a href="{% url 'spec_category' category %}">{{ category }}</a></span>
                            <h1 class="display-6">{{ title }}</h1>
                            <span class="author-meta fs-sm">{{ date }} - by <a href="{% url 'about' %}">{{ author }}
                                </a></span>
                        </div>
                        {% for para in body %}
                        <p>{{ para }}</p>
                        {% endfor %}
                        <div class="post-tags my-3">
                            <span>Tags:</span>
                            {% if not tag1 %}
                                <span>None</span>
                            {% else %}
                                <span><a href="{% url 'spec_tag' tag1 %}">{{ tag1 }}</a></span>
                                {% if tag2 %}
                                    <span><a href="{% url 'spec_tag' tag2 %}">{{ tag2 }}</a></span>
                                    {% if tag3 %}
                                        <span><a href="{% url 'spec_tag' tag3 %}">{{ tag3 }}</a></span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </article>

                <div class="about-author post-container rounded p-5 text-center">
                    <div class="author-img">
                        {% if author == "Gavin" %}
                            <img class="circle" width="90" src="{% static 'images/gavin.png' %}" alt="">
                        {% else %}
                            <img class="circle" width="90" src="{% static 'images/asinia.png' %}" alt="">
                        {% endif %}
                    </div>
                    <h4 class="my-4">{{ author }}</h4>
                        {% if author == "Gavin" %}
                            <p>It's Gavin here!</p>
                        {% else %}
                            <p>It's Asinia here!</p>
                        {% endif %}
                    <div>
                        <span><a href="https://www.instagram.com/gavinddgx/"><i class="fab fa-instagram"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
