{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DGX & WYX</title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Preloader start-->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Preloader end  -->

    <!--Header-->
    <header class="header header-default">
        <div class="main-overlay"></div>
        <div class="topbar">
            <div class="container-fluid">
                <!-- Social Share -->
                <div class="social-share">
                    <a href="https://www.instagram.com/gavinddgx/"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="header-buttons">
                    <button class="burger-menu icon-button">
                        <span class="burger-icon"> <i class="fa fa-bars"></i></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="primary-nav sticky">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-10 mx-auto col-sm-12">
                        <a href="https://www.instagram.com/gavinddgx/" class="singup"><img src="{% static 'images/sign.png' %}" alt=""></a>

                        <nav class="navbar navbar-expand-md">
                            <div class="navbar-brand mobile-logo">
                                <a href="index"><img src="{% static 'images/logo.png' %}" alt=""></a>
                            </div>

                            <div class="collapse navbar-collapse">
                                <!-- menus -->
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="latest_posts"
                                            id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Posts
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="latest_posts" class="dropdown-item">Latest</a></li>
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="categories">Categories</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="categories/recent_events" class="dropdown-item">Recent
                                                        Events</a>
                                                    </li>
                                                    <li><a href="categories/our_future" class="dropdown-item">Our
                                                            Future</a>
                                                    </li>
                                                    <li><a href="categories/our_memories" class="dropdown-item">Our
                                                            Memories</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="best_wishes">Best Wishes</a>
                                    </li>
                                </ul>
                                <div class="center-nav">
                                    <a href="index"><img src="{% static 'images/logo-lg.png' %}" alt="Logo Lg"></a>
                                </div>
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="our_collection.html">Our Collection</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about.html">About Us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-right">
                                <!-- Social Share -->
                                <div class="social-share">
                                    <a href="https://www.instagram.com/gavinddgx/"><i class="fab fa-instagram"></i></a>
                                </div>
                                <!-- header buttons -->
                                <div class="header-buttons">
                                    <button class="burger-menu icon-button">
                                        <span class="burger-icon"> <i class="fa fa-bars"></i></span>
                                    </button>
                                </div>
                            </div>
                        </nav>
                        <!-- header right section -->
                        <a href="https://www.instagram.com/gavinddgx/" class="nav-heart"><img src="{% static 'images/icon-2.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header/-->

    {% if image %}
        <div class="jarallax promo-parallax" style="background-image: url({% static image %});"></div>
    {% else %}
        <div class="jarallax promo-parallax" style="background-image: url({% static 'images/default.jpg' %});">
    </div>
    {% endif %}
    <main class="main-content py-10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <article class="single-post post">
                        <div class="entry-content">
                            <div class="entry-header">
                                <span class="entry-meta"><a href="category.html">{{ category }}</a></span>
                                <h1 class="display-6">{{ title }}</h1>
                                <span class="author-meta fs-sm">{{ date }} - by <a href="about.html">{{ author }}
                                    </a></span>
                            </div>
                            {% for para in body %}
                            <p>{{ para }}</p>
                            {% endfor %}
                            <div class="post-tags my-3">
                                <span>Tags:</span>
                                {% if not tag1 %}
                                    <span>None</span>
                                {% else %}
                                    {% with 'tags/'|add:tag1 as Tag1 %}
                                        <span><a href="{{ Tag1 }}">{{ tag1 }}</a></span>
                                    {% endwith %}
                                    {% if tag2 %}
                                        {% with 'tags/'|add:tag2 as Tag2 %}
                                            <span><a href="{{ Tag2 }}">{{ tag2 }}</a></span>
                                        {% endwith %}
                                        {% if tag3 %}
                                            {% with 'tags/'|add:tag3 as Tag3 %}
                                                <span><a href="{{ Tag3 }}">{{ tag3 }}</a></span>
                                            {% endwith %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </article>

                    <div class="about-author post-container rounded p-5 text-center">
                        <div class="author-img">
                            {% if author == "Gavin" %}
                                <img class="circle" width="90" src="{% static 'images/gavin.png' %}" alt="">
                            {% else %}
                                <img class="circle" width="90" src="{% static 'images/asinia.png' %}" alt="">
                            {% endif %}
                        </div>
                        <h4 class="my-4">{{ author }}</h4>
                            {% if author == "Gavin" %}
                                <p>It's Gavin here!</p>
                            {% else %}
                                <p>It's Asinia here!</p>
                            {% endif %}
                        <div class="social-share">
                            <span><a href="https://www.instagram.com/gavinddgx/"><i class="fab fa-instagram"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="instagram border-top py-10">
        <div class="container-xl">
            <div class="text-center col-8 mx-auto pb-5 wow animated" data-wow-iteration="infinite"
                data-wow-duration="1500ms">
                <img src="{% static 'images/icon.png' %}" alt="icon">
            </div>
            <!-- images -->
            <div class="insta-wrap mt-5 d-flex flex-wrap justify-content-between position-relative">
                <!-- button -->
                <a href="https://www.instagram.com/gavinddgx/" class="btn btn-primary">@Follow on Instagram</a>
                <div class="insta-item">
                    <a href="https://www.instagram.com/gavinddgx/">
                        <img src="{% static 'images/insta-1.jpg' %}" class="img-fluid" alt="instgram">
                    </a>
                </div>
                <div class="insta-item">
                    <a href="https://www.instagram.com/gavinddgx/">
                        <img src="{% static 'images/insta-2.jpg' %}" class="img-fluid" alt="instgram">
                    </a>
                </div>
                <div class="insta-item">
                    <a href="https://www.instagram.com/gavinddgx/">
                        <img src="{% static 'images/insta-3.jpg' %}" class="img-fluid" alt="instgram">
                    </a>
                </div>
                <div class="insta-item">
                    <a href="https://www.instagram.com/gavinddgx/">
                        <img src="{% static 'images/insta-4.jpg' %}" class="img-fluid" alt="instgram">
                    </a>
                </div>
                <div class="insta-item">
                    <a href="https://www.instagram.com/gavinddgx/">
                        <img src="{% static 'images/insta-5.jpg' %}" class="img-fluid" alt="instgram">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <div class="row mt-3 mb-4">
                <div class="col-lg-2 col-sm-3">
                    <div class="widget social-share">
                        <a href="https://www.instagram.com/gavinddgx/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-7">
                    <nav class="widget footer-nav text-sm-center">
                        <ul>
                            <li><a href="index">home</a></li>
                            <li><a href="latest_posts">Latest</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="m-3 small text-center">Copyright 2024 D&G. All rights by D&G.</p>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer/-->

    <!-- canvas menu -->
    <div class="canvas-menu d-flex align-items-end flex-column">
        <!-- close button -->
        <button type="button" class="btn-close" aria-label="Close"></button>
        <!-- logo -->
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo" />
        </div>
        <!-- menu -->
        <nav>
            <ul class="vertical-menu">
                <li class="active">
                    <a href="index">Home</a>
                </li>
                <li><a href="latest_posts">Posts</a>
                    <ul class="submenu">
                        <li><a href="latest_posts" class="dropdown-item">Latest</a></li>
                        <li><a href="categories" class="dropdown-item">Categories</a></li>
                    </ul>
                </li>
                <li><a href="our_collection">Our Collection</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </nav>

        <!-- Social Share -->
        <div class="social-share w-100">
            <a href="https://www.instagram.com/gavinddgx/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jarallax.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
</body>

</html>
