{% extends "base.html" %}
{% load static %}

{% block title %}<title>Search results - {{ key_word }}</title>{% endblock %}

{% block mainbody %}
<main class="main-content category-content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="post-tags-head mb-5 py-5 overly border-top">
                    <span>Results:</span>
                    <span class="current">{{ key_word }}</span>
                </div>
            </div>
            {% for post in posts %}
                <div class="col-lg-4 col-sm-6">
                    <article class="single-entry mb-5 wow fadeIn" data-wow-offset="30" data-wow-duration="1.15s"
                        data-wow-delay="0.30s">
                        <div class="entry-thumb mb-4">
                            {% if post.image %}
                                <a href="{% url 'spec_post' post.id %}"> <img src="{% static 'media/'|add:post.image.url %}" class="img-fluid" alt="blog"></a>
                            {% else %}
                                <a href="{% url 'spec_post' post.id %}"> <img src="{% static 'images/default.jpg' %}" class="img-fluid" alt="blog"></a>
                            {% endif %}
                                <div class="entry-share d-flex">
                                    <a href="{% url 'spec_post' post.id %}"><i class="fa fa-link"></i></a>
                                </div>
                        </div>
                        <div class="entry-content">
                            <span class="entry-meta">
                                <a href="{% url 'spec_category' post.category %}">{{ post.category }}</a>
                            </span>
                            <h3 class="entry-title mb-4"><a href="{% url 'spec_post' post.id %}">{{ post.title }}</a></h3>
                            <p>{{ post.body|truncatechars:90}}</p>
                            <a class="btn-unfill right" href="{% url 'spec_post' post.id %}">Take a Look <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </article>
                </div> <!-- Single Post End -->
            {% endfor %}
        </div>
    </div><!--  col end -->
</main>
{% endblock %}}
