{% extends "base.html" %}
{% load static %}

{% block title %}<title>Best Wishes!</title>{% endblock %}

{% block mainbody %}
<div class="single-post-header mt-4">
    <div class="container-fluid p-0">
        <div class="row gx-lg-0">
            <div class="col-lg-6 col-sm-6">
                <div class="entry-thumb">
                    <img class="img-fluid" src="{% static 'images/thanks1.jpg' %}" alt="Single Post">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="sp-header p-5 text-center h-100 w-100 bg-gray d-table">
                    <div class="sp-inder d-cel">
                        <h1 class="display-3 mt-2 mb-3">Leave us your best wishes!</h1>
                        <h5 style="text-align:center">Gavin & Asinia</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="main-content py-5 my-lg-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="comments post-container my-5 pt-4">
                    <div class="write-comments mt-5 pt-3">
                        <div class="widget-line-bg">
                            <h2>Best Wishes</h2>
                        </div>
                        <form action="{% url 'send_wishes' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea required name="content" placeholder="Thank you!"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" name="name" maxlength="20" placeholder="Your name (optional)">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary text-white" type="submit">Send your wishes</button>
                            </div>
                        </form>
                    </div>
                    <div class="post-comments">
                        <ol class="comment-list">
                            {% for wish in wishes %}
                            <li>
                                <article class="comment-body">
                                    <div class="comment-thumb">
                                        <img width="58" src="{% static 'images/visitor.png' %}" alt="Comments">
                                    </div>
                                    <div class="comment-details">
                                        <h5 class="comment-name">{{ wish.name }}</h5>
                                        <p>{{ wish.content }}</p>
                                        <span class="c-date">{{ wish.date }}</span>
                                    </div>
                                </article>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <!--Entry Comments End-->
            </div> <!-- col end -->
        </div>
    </div>
</main>
{% endblock %}
